* {
 box-sizing: border-box;
}

.container2 {
  width: 80%;
  margin: 0 auto;
}

body {
 margin-top:0px;
 color: #474143;
 font-family: Lusitana;
}


/* navigation */
.navcontainer {
 width: 80%;
 margin: 0 auto;
}

.header {
 background-color: #fff;
 box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
 position: sticky;
 width: 100%;
 top:0px;
 z-index: 3;
}

header::after{
 content: '';
 display:table;
 clear: both;
}

.logo{
 float:left;
 width:3.5%;
 height: auto;
 padding: 10px 0;
}

nav{
 float:right;
}



#sub-navigation-home li.nav-about {
  display: inline-block;
  margin-left: 25px;
  padding-top:23px;
  position: relative;
  padding-right: 0px;
  padding-bottom:0px;
  padding-left: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 0px;
  margin-top: 11px;
}

#sub-navigation-home li.nav-work {
  display: inline-block;
  margin-left: 25px;
  padding-top:23px;
  position: relative;
  padding-right: 0px;
  padding-bottom:0px;
  padding-left: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 0px;
  margin-top: 11px;
}

nav a{
 color: black;
 text-decoration: none;
 text-transform: uppercase;
 font-family: Lusitana;
 font-size: 24px;

}

nav a:hover{
 color: rgb(133, 116, 116);
}

.topnav img{
 width: 50px;
}


nav a::before{
 content:'';
 display:block;
 height: 3px;
 width:0%;
 background-color: black;
 position: absolute;
 top: 0;
 transition:ease-in-out 200ms;
}

nav a:hover::before{
 width:100%;
}



a:hover{
 color:black;
}


/* body */

.container{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns:50% 50%;

}

.container4 {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns:40% 20% 40%;

}

.container5 {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns:25% 25% 25% 25%;

}


.background2 {
  width:100%;
  background-color: #EDEDED;
  padding-top: 50px;
}

.aligncenter {
  text-align: center;
}


.overview {
  padding-top: 80px;
}

.button {
  display:inline-block;
  align: center;
  border-radius: 10px;
  border-color: #00ADA9;
  background-color: #00ADA9;
  padding: 10px 10px ;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  width: 300px;
  text-decoration: none;
  font-family: Lustina;
  font-size: 24px;
  line-height: 32px;
  color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  cursor: pointer;
  font-weight: 300;
  filter: drop-shadow(0 0 3px #333);
  color: white;
}

.button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

  h1 {
    font-size: 60px;
    color: #474143;
    line-height:70px;
    font-weight: bold;
    font-family: Raleway;
    margin-top: 150px;
  }

hr{
  background-color: white;
  border-color: white;
}

  h2 {
    font-size: 48px;
    color: #hsla(360, 100%, 100%, 0.5);
    line-height: 58px;
    font-weight: bold;
    font-family: Raleway;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 75px;
    background-color: #FFC636;
    margin-right: 1000px;
    padding-left: 160px;
    border-radius: 0px 30px 30px 0px;
    margin-top: 100px;


  }

  h3 {
    font-size: 36px;
    color: #hsla(360, 100%, 100%, 0.5);
    line-height:46px;
    font-weight: 600;
    font-family: Raleway;
    margin-bottom:50px;
    margin-top: 50px;
  }

  h4 {
    font-size: 24px;
    color: #hsla(360, 100%, 100%, 0.5);
    line-height:34px;
    font-weight: 600;
    font-family: Raleway;
    margin-bottom: 10px;
  }

  h5 {
    font-size: 21px;
    color: #hsla(360, 100%, 100%, 0.5);
    line-height:31px;
    font-weight: 600;
    font-family: Raleway;
    margin-bottom:30px
  }

  hr {
    margin-bottom: 30px;
    margin-right: 60px;
    border-color: #474143
    color:#474143;

}

  p {
    font-size: 18px;
    line-height: 35px;
    font-family: Lusitana;
    margin-bottom: 40px;
}

  li {
    font-size: 18px;
    line-height: 34px;
    padding-right: 70px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.finalprototype {
    width: 95%;
    height:auto;
    margin-top: 200px;
    margin-left: 130px;
    filter: drop-shadow(0 0 5px #333);
}

.somePadding{
  padding-right: 30px;

}

.sectionone {
  border-left: 2px solid black;
  padding-left: 50px;
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 130px;
  margin-top:   90px;
}

.sectiontwo {
  border-left: 2px solid black;
  padding-left: 50px;
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 130px;
}

.sectionthree {
  border-left: 2px solid black;
  padding-left: 50px;
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 130px;
}

.sectionfour {
  border-left: 2px solid black;
  padding-left: 50px;
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 130px;
}

.sectionfive {
  border-left: 2px solid black;
  padding-left: 50px;
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 130px;
}

.link a {
  font-size: 24px;
  color: #FFC636;
}


.Userpersonas {
  width:600px;
  height: auto;
  filter: drop-shadow(0 0 5px #333);

}

.Changes-One-Mobile {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 80px;
  filter: drop-shadow(0 0 5px #333);

}

.Solution-Mobile {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 80px;
  filter: drop-shadow(0 0 5px #333);
}



.Changes-Two-Mobile {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
}

.Solution-Two-Mobile {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
}


.Changes-Three-Mobile {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
}

.Solution-Three-Mobile {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
}

.Styleguide {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
  padding-left: 300px;

}

.PrefranceTest {
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
}

.background1 {
  width:100%;
  background-color: #FA846C;
}

.Painpoint-4 {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
}

.Solution-4 {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
  padding-top: 80px;
}


.Painpoint5mobile {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
}

.Solution5mobile {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
}

.Solution-6 {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px #333);
}



/* Footer */
.align {
 text-align: center;
}


footer ul {
 display: flex;
 justify-content: space-between;
 width: 50%;
 margin-top: 50px;
}

.footernote {
 font-size: 48px;
 margin-top: 100px;
 text-decoration: none;
 font-family: Lusitina;
}

.footernotetwo {
 font-size: 24px;
 line-height: 34px;
 margin-top: 25px;
 margin-bottom: 75px;
 text-decoration: none;
 font-family: Lusitana;
}

.socialicons  {
  margin: auto;

}

.socialicons a i {
color:black;
font-size: 45px;
}

.socialicons li:hover {
 color: grey;
}


 @media screen and (max-width: 575px){


   .container{
     width: 80%;
     margin: 0 auto;
     display: block;

   }

   .container4 {
     width: 80%;
     margin: 0 auto;
     display: block;

   }

   .container5 {
     width: 80%;
     margin: 0 auto;
     display: block;

   }

   .align {
    text-align: center;
   }


   .background2 {
     width:100%;
     background-color: #EDEDED;
     margin-top: 100px;
     display: block;
   }

   .aligncenter {
     text-align: center;
   }

   .button {
     display:inline-block;
     align: center;
     border-radius: 10px;
     border-color: #00ADA9;
     background-color: #00ADA9;
     padding: 10px 10px ;
     padding-top: 10px;
     padding-bottom: 10px;
     height: 50px;
     width: 300px;
     text-decoration: none;
     font-family: Lusitina;
     font-size: 24px;
     color: black;
     margin-top: 100px;
     margin-bottom: 100px;
     cursor: pointer;
     font-weight: 300;
     filter: drop-shadow(0 0 3px #333);
     color: white;
   }

   .button:hover {
     text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
     -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
     -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
     transition: all 0.4s ease 0s;
   }

   li {
     font-size: 18px;
     line-height: 34px;
     padding-right: 70px;
     margin-bottom: 20px;
     margin-left: 30px;
}


     h1 {
       font-size: 60px;
       color: #474143;
       line-height:70px;
       font-weight: 1000;
       font-family: Raleway;
       margin-top: 0px;
       padding-top: 100px;
     }

   hr{
     background-color: white;
     border-color: white;
   }

     h2 {
       font-size: 48px;
       color: #hsla(360, 100%, 100%, 0.5);
       line-height: 58px;
       font-weight: 900;
       font-family: Raleway;
       text-decoration: underline;
       margin-bottom: 50px;
       margin-top: 75px;
       background-color: #FFC636;
       margin-right: 100px;
       padding-left: 50px;
       border-radius: 0px 30px 30px 0px;
       margin-top: 100px;

     }

     h3 {
       font-size: 36px;
       color: #hsla(360, 100%, 100%, 0.5);
       line-height:46px;
       font-weight: 600;
       font-family: Raleway;
       margin-bottom:50px;
     }

     h4 {
       font-size: 24px;
       color: #hsla(360, 100%, 100%, 0.5);
       line-height:32px;
       font-weight:700;
       font-family: Raleway;
       margin-bottom: 25px;
     margin-top: 50px;
     }

     h5 {
       font-size: 21px;
       color: #hsla(360, 100%, 100%, 0.5);
       line-height:32px;
       font-weight: 800;
       font-family: Raleway;
       padding-top:50px;
     }

     hr {
       margin-bottom: 30px;
       margin-right: 60px;
       border-color: #474143;
       color:#474143;

   }

     p {
       font-size: 18px;
       line-height: 34px;
       font-family: Lusitana;
       margin-bottom: 30px;
   }


   .finalprototype {
       width: 100%;
       height:auto;
       margin-top: 100px;
       margin-left: 0px;
       filter: drop-shadow(0 0 5px #333);
   }

   .somePadding{
     padding-right: 0px;

   }

   .sectionone {
     border-left: 2px solid black;
     padding-left: 50px;
     margin-bottom: 40px;
     margin-right: 0px;
     margin-left: 0px;
     margin-top:   50px;
   }

   .sectiontwo {
     border-left: 2px solid black;
     padding-left: 50px;
     margin-bottom: 40px;
     margin-right: 0px;
     margin-left: 0px;
     margin-top:   50px;
   }

   .sectionthree {
     border-left: 2px solid black;
     padding-left: 50px;
     margin-bottom: 40px;
     margin-right: 0px;
     margin-left: 0px;
     margin-top:   50px;
   }

   .sectionfour {
     border-left: 2px solid black;
     padding-left: 50px;
     margin-bottom: 40px;
     margin-right: 0px;
     margin-left: 0px;
     margin-top:   50px;
   }

   .sectionfive {
     border-left: 2px solid black;
     padding-left: 50px;
     margin-bottom: 40px;
     margin-right: 0px;
     margin-left: 0px;
     margin-top:   50px;
   }

   .link a {
     font-size: 24px;
     color: #FFC636;
   }


   .Userpersonas {
     width:300px;
     height: auto;
     filter: drop-shadow(0 0 5px #333);

   }

   .Changes-One-Mobile {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 10px;
     margin-bottom: 80px;
     filter: drop-shadow(0 0 5px #333);

   }

   .Solution-Mobile {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 10px;
     margin-bottom: 80px;
     filter: drop-shadow(0 0 5px #333);
   }



   .Changes-Two-Mobile {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
   }

   .Solution-Two-Mobile {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
   }


   .Changes-Three-Mobile {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
   }

   .Solution-Three-Mobile {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
   }

   .Styleguide {
     width: 90%;
     height: 80%;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
     padding-left: 50px;

   }

   .PrefranceTest {
     width: 90%;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
   }

   .background1 {
     width:100%;
     background-color: rbga(255, 100, 68, 89);
   }

   .Painpoint-4 {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
   }

   .Solution-4 {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
     padding-top: 80px;
   }


   .Painpoint5mobile {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
   }

   .Solution5mobile {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
   }

   .Solution-6 {
     width: 80%;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
     filter: drop-shadow(0 0 5px #333);
   }

   .socialicons  {
     margin: auto;
     width:80%;
     text-align: center;

   }
    .socialicons li {
      margin: 0;
      padding: 0;
    }


   .footernote {
    font-size: 32px;
    margin-top: 25px;
    text-decoration: none;
    font-family: Lusitana;
   }

   .footernotetwo {
    font-size: 24px;
    line-height: 34px;
    margin-top: 25px;
    margin-bottom: 75px;
    text-decoration: none;
    font-family: Lusitana;
   }
}

@media screen and (min-width: 600px) and (max-width:1024px){

  .container{
    width: 80%;
    margin: 0 auto;
    display: block;

  }

  .container4 {
    width: 80%;
    margin: 0 auto;
    Display:block;
  }

  .container5 {
    width: 80%;
    margin: 0 auto;
    display:block;
  }

  .Styleguide {
    padding-left: 50px;

  }

  .align {
   text-align: center;
  }

  .background2 {
    width:100%;
    background-color: #EDEDED;
    margin-top: 0px;
    display: block;
  }

  .sectionone {
    border-left: 2px solid black;
    padding-left: 50px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top:   50px;
  }

  .sectiontwo {
    border-left: 2px solid black;
    padding-left: 50px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top:   50px;
  }

  .sectionthree {
    border-left: 2px solid black;
    padding-left: 50px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top:   50px;
  }

  .sectionfour {
    border-left: 2px solid black;
    padding-left: 50px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top:   50px;
  }

  .sectionfive {
    border-left: 2px solid black;
    padding-left: 50px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top:   50px;
  }

  li {
    font-size: 18px;
    line-height: 24px;
    padding-right: 70px;
    margin-bottom: 20px;
    margin-left: 10px;
}

  h1 {
    font-size: 60px;
    color: #474143;
    line-height:70px;
    font-weight: 1000;
    font-family: Raleway;
    margin-top: 0px;
    padding-top: 100px;
  }

  h2 {
    font-size: 48px;
    color: #hsla(360, 100%, 100%, 0.5);
    line-height: 58px;
    font-weight: 900;
    font-family: Raleway;
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 75px;
    background-color: #FFC636;
    margin-right: 300px;
    padding-left: 50px;
    border-radius: 0px 30px 30px 0px;
    margin-top: 100px;

  }

  h4 {
margin-top: 50px;

  }

  .finalprototype {
      width: 100%;
      height: auto;
      margin-top: 100px;
      margin-left: 0px;
      filter: drop-shadow(0 0 5px #333);
  }

  .Userpersonas {
    width:600px;
    height: auto;
    filter: drop-shadow(0 0 5px #333);

  }









}
